{% extends 'base.html.twig' %}
{% block title %}{{ movie.title }}{% endblock %}
{% block body %}

    <div class="movie-page">
        <div class="movie-image">
            <img src="{{ asset("images/poster1.png") }}" alt="Poster">
        </div>
        <div class="movie-details">
            <h2 class="movie-title">
                {{ movie.title }}
            </h2>
            <p><strong>Genre:</strong> {{ movie.genre }}</p>
            <p><strong>Release: </strong>{{ movie.relaseyear | date("d.m.Y") }}</p>
            <p><strong>Duration: </strong>{{ movie.duration | date('H:m')}}</p>
            <p><strong>Director: </strong>{{ movie.director }}</p>
            <p><strong>Rating: </strong> {{ movie.rating }} / 5</p>
            <div class="movie-goto-book"></div>
        </div>
        <div class="movie-description glass">
            <p>{{ movie.description }}</p>
        </div>
    </div>
    <div class="section-divider">
        <div class="section" data-section="1"></div>
            <h2>Next screenings</h2>
            <div class="container-simple-movie container">
                {{ dump(screenings) }}
            </div>
        <div class="section-divider"></div>
    </div>

{% endblock %}

