{% extends 'base.html.twig' %}
{% block title %}{{ movie.title }}{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script type="module" src="{{ asset('scripts/controllers/app_home_movie_Controller.js')}}"></script>
{% endblock %}
{% block body %}
    <p style="display: none;" id="movieId">{{ movie.id }}</p>
    <div class="movie-page">
        <div class="movie-image">
            <img src="{{ asset(movie.image) }}" alt="Poster">
        </div>
        <div class="movie-details">
            <h2 class="movie-title">
                {{ movie.title }}
            </h2>
            <p><strong>Genre:</strong> {{ movie.genre }}</p>
            <p><strong>Release: </strong>{{ movie.releaseyear | date("d.m.Y") }}</p>
            <p><strong>Duration: </strong>{{ movie.duration | date('H:m')}}</p>
            <p><strong>Director: </strong>{{ movie.director }}</p>
            <p><strong>Rating: </strong> {{ movie.rating }} / 5</p>
            <div class="movie-description glass">
                <p>{{ movie.description }}</p>
            </div>
            <div class="movie-goto-book"></div>
        </div>
    </div>
    <div class="section-divider"></div>
            <div class="select-cinema-container">
            <h2 style="display: inline">Next screenings</h2>
            <form id="selectCinema" style="display: inline">
                <label for="cinema">Select your cinema:</label>
                <select name="cinema" class="dropdown" id="cinema-select-dropdown">
                    {% for cinema in cinemas %}
                        <option value="" selected>---</option>
                    <option value="{{ cinema.id }}">{{ cinema.city }} - {{ cinema.name }} - {{ cinema.address }}</option>
                    {% endfor %}
                </select>
            </form>
            </div>
            <hr style="margin-bottom: 2%">
            <ul id="screenings">
                <h2>Pick your location and book a ticket right now!</h2>
            </ul>
{% endblock %}

