{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Sign up</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        <div class="flex-form">
            <div class="form-row">
                {{ form_row(registrationForm.name) }}
            </div>
            <div class="form-row">
                {{ form_row(registrationForm.lastname) }}
            </div>
            <div class="form-row">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="form-row">
                {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
            </div>
            <div class="form-row">
                {{ form_row(registrationForm.phone_number) }}
            </div>
            <div class="form-row">
                {{ form_row(registrationForm.profile_picture) }}
            </div>
            <div class="form-row">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <div class="form-row">
                <button type="submit" class="btn">Register</button>
            </div>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
