{% extends '@EasyAdmin/page/content.html.twig' %}

{% block head_stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
    <link rel="stylesheet" href="{{ asset('app.css', ea.assets.defaultAssetPackageName) }}">
{% endblock %}

{% block content_top_header %}
    <h1 class="nav-message">Welcome to admin panel</h1>
{% endblock %}

{% block content %}
    <div class="own-container">
        {% for cinema in cinemas %}
            <div class="own-cinema">
                <h2>{{ cinema.getCity() }} - {{ cinema.getName() }} - {{ cinema.getAddress() }}</h2>
                <h3>Movie Theaters:</h3>
                <ul>
                    {% for movieTheater in cinema.getMovieTheaters() %}
                        <li>{{ movieTheater.getName() }}</li>
                        <ul>
                            {% for screening in movieTheater.getScreenings() %}
                                <li>{{ screening.getStartTime()|date('Y-m-d H:i:s') }} - {{ screening.getMovie().title }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
