<nav class="navbar">
    <a href="{{ path('app_home') }}">
    <div class="navbar-logo"><i class="fa-brands fa-symfony fa-xl"></i></div>
    </a>
    <div class="navbar-links">
        <div class="container-always-visible">
            <div class="searchbox always-visible">

                <form id="search-form" style="display: flex">
                    <input type="text" autocomplete="off" class="navbar-search always-visible" name="query" placeholder="Search for a movie">
                    <button type="submit" style="margin: 0 0.5rem;">
                        <i class="fas fa-magnifying-glass always-visible"></i>
                    </button>
                </form>

                <div class=" search-results hidden">

                </div>
            </div>
            <button class="navbar-toggle always-visible">☰</button>
        </div>
        {% if app.user is defined and app.user is not null and 'ROLE_ADMIN' in app.user.roles %}
            <a href="{{ path('app_admin') }}">Admin Panel</a>
        {% endif %}
        <select class="navbar-select hide" id="navbar-genres" onfocus="this.selectedIndex = 0;">
                <option value="" disabled selected hidden>Genres</option>
                {% for genre in genres %}
                    <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>
        {% if app.user %}
            <a href="{{ path('app_logout') }}" class="hide">Logout</a>
            <a href="{{ path('app_user') }}">Your Profile</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="hide">Login</a>
            <a href="{{ path('app_register') }}" class="hide">Sign up</a>
        {% endif %}
        <select class="navbar-select hide" id="navbar-settings" onfocus="this.selectedIndex = 0;">
            <option value="" disabled selected hidden>Settings</option>
            <option value="cinema">Selected Cinema</option>

        </select>
        <a class="theme-toggle hide" ><i class="fas fa-moon"></i>  <i class="fas fa-sun"></i></a>
    </div>
</nav>