<nav class="navbar">
    <a href="{{ path('app_home') }}">
    <div class="navbar-logo">Logo</div>
    </a>
    <div class="navbar-links">
        <div class="container-always-visible">
            <input class="navbar-search always-visible" placeholder="Quick-search for a movie"></input>
            <button class="navbar-toggle always-visible">☰</button>
        </div>
        <a href="{{ path('app_home') }}">Home</a>
        <a href="{{ path('app_admin') }}">Panel admina</a>
            <select class="navbar-genres">
                <option value="" disabled selected hidden>Genres</option>
                {% for genre in genres %}
                    <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}

            </select>
        <a href="#to_section_search_below_changme">Book a ticket now</a>
        <a class="theme-toggle"><i class="fas fa-moon"></i> <i class="fas fa-sun"></i></a>
    </div>
</nav>