{% extends 'base.html.twig' %}

{% block title %}{{ userName }} profile{% endblock %}

{% block body %}
    <div class="container">
        <h2>Your Profile</h2>

        <div>
            <img src="{{ asset(userProfilePicture) }}" alt="profile picture" class="profile-picture">
        </div>

        <div class="user-info">Name: {{ userName }}</div>
        <div class="user-info">Lastname: {{ userLastname }}</div>
        <div class="user-info">Email: {{ userEmail }}</div>
        <div class="user-info">Created At: {{ userCreatedAt }}</div>
    </div>
{% endblock %}
