{% extends 'base.html.twig' %}

{% block title %}{{ user.name}} profile{% endblock %}

{% block body %}
    <div class="profile-card">
        <div class="user-card-header">
        <h2>{{ user.name }}'s Profile</h2>
            {% if app.user == user %}
                <a href="{{ path('app_user_settings') }}"><i class="fas fa-user-gear fa-xl"></i></a>
            {% endif %}
        </div>

   <div class="profile-info-container">
        <div class="profile-picture">
            <img src="{{ asset(user.profilepicture) }}" alt="profile picture">
        </div>
        <div class="profile-bio">
            {% if user.bio %}
            {{ user.bio }}
            {% else %}
            {{ user.name }}'s bio - nothing here!
            {% endif %}
        </div>
   </div>
        <div class="profile-info-container">
            <div class="user-details">
                <div class="user-info">Last name: {{ user.lastname }}</div>
                <div class="user-info">Email: {{ user.email }}</div>
                <div class="user-info">Created At: {{ user.createdat | date("M d, Y") }}</div>
                <div class="user-info">
                    <div class="user-info">Achievements:</div>
                    {% if achievements is not empty %}
                        <ul>
                            {% for userAchievement in achievements %}
                                <li>{{ userAchievement.achievement.name }} - {{ userAchievement.achievement.description }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No achievements yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr class="section-divider">
        <nav class="tab-navigation">
            <ul class="tab-list">
                <a href="#reviews" class="tab-item tab-item--selected" data-target="#reviews">Reviews</a>
                <a href="#favorites" class="tab-item" data-target="#favorites">Favorites</a>
                {% if app.user == user %}
                <a href="#bookings" class="tab-item" data-target="#bookings">Bookings</a>
                <a href="#rated" class="tab-item" data-target="#rated">Rated</a>
                {% endif %}
            </ul>
        </nav>
        <div class="tabs-content-container">
            <div class="tab-content tab--selected" id="reviews">
                Mam propozycje dodania tutaj recenzji albo ocen w sumie
            </div>
            <div class="tab-content" id="favorites">
                <div class="container-simple-movie">
                    TU BEDA RENDEROWANE ULUBIONE FILMY
                </div>
            </div>
            <div class="tab-content" id="bookings">
                {% if app.user == user %}

                    {% for reservation in reservations %}
                    <div class="container-simple-movie">
                        {{ reservation.getScreening().getMovie().getTitle() }} -
                        {{ reservation.getScreening().getMovieTheater().getCinema().getName() }} -
                        {{ reservation.getScreening().getMovieTheater().getCinema().getCity() }} -
                        {{ reservation.getScreening().getMovieTheater().getCinema().getAddress() }} -
                        {{ reservation.getScreening().getMovieTheater().getName() }} -
                        {{ reservation.getScreening().getStartTime()|date('Y-m-d H:i:s') }}
                        seat: {{ reservation.getSeat().getSeatRow() }} - {{ reservation.getSeat().getSeatNumber() }}
                    </div>
                {% endfor %}
                {% endif %}

            </div>
            <div class="tab-content" id="rated">
                {% for rating in user.rates %}
                    {{ rating.movie.title }}
                {% endfor %}
            </div>
        </div>
        <hr class="section-divider">
{% endblock %}
