{% extends 'base.html.twig' %}

{% block title %}Edit - {{ user.name}} profile{% endblock %}

{% block body %}

    {{ form_errors(SettingsForm) }}

    {{ form_start(SettingsForm) }}
    <div class="flex-form">
        <div class="form-row">
            {{ form_label(SettingsForm.phone_number) }}
            {{ form_widget(SettingsForm.phone_number) }}
        </div>
        <div class="form-row form-text-area">
            {{ form_label(SettingsForm.bio) }}
            {{ form_widget(SettingsForm.bio) }}
        </div>
        <div class="form-row">
            <button type="submit">Save changes</button>
        </div>
    </div>

    {{ form_end(SettingsForm) }}

{% endblock %}