{% extends 'base.html.twig' %}

{% block title %}Edit - {{ user.name}} profile{% endblock %}

{% block body %}

    {{ form_errors(SettingsForm) }}

    {{ form_start(SettingsForm) }}
    <div class="flex-form" style="padding: 3rem">

        <div class="form-row" style="flex-direction: column; margin-bottom: 1rem; text-align: center">
            <div style="font-size: 2rem">Phone Number</div>
            {{ form_widget(SettingsForm.phone_number) }}
        </div>

        <hr style="margin-bottom: 1rem">

        <div class="form-row" style="flex-direction: column">
            <div style="font-size: 2rem">Bio</div>
            {{ form_widget(SettingsForm.bio, {'attr': {'class': 'form-text-area'}}) }}
        </div>

        <hr>


            <button type="submit">Save changes</button>

    </div>

    {{ form_end(SettingsForm) }}

{% endblock %}