{% extends 'base.html.twig' %}

{% block title %}Edit - {{ user.name}} profile{% endblock %}

{% block body %}

    {{ form_errors(SettingsForm) }}

    {{ form_start(SettingsForm) }}

    <div>
        {{ form_row(SettingsForm.phone_number) }}
    </div>
    <div>
        {{ form_row(SettingsForm.bio) }}
    </div>
    <div>
        <button type="submit">Save changes</button>
    </div>

    {{ form_end(SettingsForm) }}

{% endblock %}