{% extends 'base.html.twig' %}

{% block title %}Edit - {{ user.name}} profile{% endblock %}

{% block body %}

    {{ form_errors(SettingsForm) }}

    {{ form_start(SettingsForm) }}
    <div class="flex-form" style="padding: 3rem">

        <div class="form-row col-on-mobile">
            <label style="font-size: 2rem">Phone Number</label>
            {{ form_widget(SettingsForm.phone_number) }}
        </div>

        <hr style="margin-bottom: 1rem">

        <div class="form-row col-on-mobile">
            <label style="font-size: 2rem">Bio</label>
            {{ form_widget(SettingsForm.bio, {'attr': {'class': 'form-text-area'}}) }}
        </div>

        <div class="form-row col-on-mobile">
            <label style="font-size: 2rem">Profile Photo</label>
            {{ form_widget(SettingsForm.profile_picture) }}
        </div>

        <hr>


            <button type="submit">Save changes</button>

    </div>

    {{ form_end(SettingsForm) }}

{% endblock %}